
/* This version has origin services v_5 */



html {
    font-size: 16px;
}

.container_services {
    
    position: relative;

    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2.5vw 4.44vh;

    width: 90%;
    height: fit-content;
    height: 90%;
    

    justify-items: center; /*! to be applied to tools_container iSA*/
    align-items: center;

    margin: auto;

    /* padding-top: auto; */
    padding-top: auto;

    opacity: 0;
    transform: translateY(11.11vh);
    animation: fadeIn 3s forwards;

    
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {

    width: 25vw;
    aspect-ratio: 1 / 1;

    /* height: 33.33vh;

    max-height: 300px ; */
    position: relative;

    perspective: 1000px;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.card h2 {

    font-size: 1.5vw;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;

    pointer-events: none !important;
}

.card:hover .card-content {
    transform: rotateY(180deg);
}

.rotate-right:hover .card-content {
    transform: rotateY(-180deg);
}

.rotate-left:hover .card-content {
    transform: rotateY(180deg);
}

.rotate-up:hover .card-content {
    transform: rotateX(-180deg);
}

.rotate-down:hover .card-content {
    transform: rotateX(180deg);
}

.card:hover .front {
    background-color: #3586ff;
    color: #ffffff;
    /* transform: translateY(-10px); */
    transform: translateY(-1.111vh);
}

.card-content > div {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding: 20px; */

    padding-top: 2.22vh;
    padding-right: 1.25vw; 
    padding-bottom: 2.22vh; 
    padding-left: 1.25vw;  


    box-sizing: border-box;
    transition: background-color 0.8s, transform 0.8s, color 0.8s;

    pointer-events: auto !important;
}

.front {
    /* background-color: #ffffff; */
    background-color: #d6e7ff;
    border: 1px solid #dddddd;

    
}

.back {

    position: relative;
    background-color: #011254;

    overflow: hidden;
    
    transform: rotateY(180deg);
    
}

.rotate-up .back, .rotate-down .back {
    transform: rotateX(180deg);
}

/*? START style new images in cards*/

.card img {

    /* width: 60px;
    height: 60px; */

    width: 3.75vw;
    /* height: 6.67vh; */
    aspect-ratio: 1 / 1;

    object-fit: contain; /* maintains img ratio */

    align-items: center;

    /* padding: 2px; */

    padding-top: 0.222vh;
    padding-right: 0.125vw; 
    padding-bottom: 0.222vh; 
    padding-left: 0.125vw; 

    /* font-size: 3.12vw; */

    margin-bottom: 2.22vh;
    
    transition: color 0.8s;
}

#icon-service-project-front, #icon-service-project-back, #icon-service-project-modal {

    width: 3vw;
    aspect-ratio: 1 / 1;

}

.card:hover .front img {
    color: #ffffff;
}

.back img {

    margin-top: 0.556vh;
    margin-bottom: 0.556vh;

    
    filter: 
    invert(36%) 
    sepia(98%) 
    saturate(816%) 
    hue-rotate(192deg) 
    brightness(107%) 
    contrast(103%) !important;

}

/*? END style new images in cards*/




.card p {
    font-size: 0.875vw;

    color: #3586ff;

    margin-bottom: 1.111vh;
}

.card a {
    font-size: 0.875vw;

    color: #3586ff;
    
    text-decoration: underline;
    font-weight: bold;

    cursor: pointer !important;
    pointer-events: auto !important; 

    
}

.back a {
    font-size: 0.875vw;
    color: #3586ff;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer !important;
    pointer-events: auto !important; 

    
}


@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card.is-visible:nth-child(1) {
    animation: slideInFromLeft 1s forwards;
    animation-delay: 0.4s;
}

.card.is-visible:nth-child(2) {
    animation: slideInFromTop 1s forwards;
    animation-delay: 0.4s;
}

.card.is-visible:nth-child(3) {
    animation: slideInFromRight 1s forwards;
    animation-delay: 0.4s;
}

.card.is-visible:nth-child(4) {
    animation: slideInFromLeft 1s forwards;
    animation-delay: 0.5s;
}

.card.is-visible:nth-child(5) {
    animation: slideInFromBottom 1s forwards;
    animation-delay: 0.5s;
}

.card.is-visible:nth-child(6) {
    animation: slideInFromRight 1s forwards;
    animation-delay: 0.5s;
}



/** border draw BORDER BY BORDER effect with pseudo element :: before & ::after */

.back::before, 
.back::after,
.inner-back::before, 
.inner-back::after {
    content: '';
    position: absolute;
    background-color: #3586ff;
    transition: width 0.1s ease, height 0.1s ease;
    pointer-events: none;
    box-sizing: border-box;
}

/* top border */
.back::before {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition-delay: 0.6s;
}

/* right border */
.back::after {
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    transition-delay: 0.7s;
}

/* bottom border */
.inner-back::before {
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition-delay: 0.8s;
}

/* left border */
.inner-back::after {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    transition-delay: 0.9s;
}

/*! Effect for hover border by border */
.card:hover .back::before {
    width: 100%;
}

.card:hover .back::after {
    height: 100%;
}

.card:hover .inner-back::before {
    width: 100%;
}

.card:hover .inner-back::after {
    height: 100%;
}



/** Style for modals space */
.services_modal {
    
    display: none; /* Hidden by default */
    position: fixed;

    width: 100%;
    height: 100%;

    z-index: 2;
    left: 0;
    top: 4%;
    
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.65); /* Black w/ opacity */

    /* line-height: 1; */
}

/** Style for modals content */
.services-modal-content {

    position: relative;

    width: 80%; /* Full width */
    max-width: 600px; /* Could be more or less, depending on screen size */

    margin: 5% auto;

    /* padding: 20px; */

    padding-top: 2.22vh;
    padding-right: 1.25vw; 
    padding-bottom: 2.22vh; 
    padding-left: 1.25vw;  

    border: 1px solid #dddddd;

    color: #011254;
    background-color: #d6e7ff;

    max-height: 80vh; /* Modal max height to allow scroll bar */
    overflow-y: auto;
    
}



/*! only way to center images horizontally : target the other ids !!!  */
#icon-service-project, 
#icon-service-project-modal,
#icon-service-optimization-modal,
#icon-service-leadership-strategy-modal,
#icon-service-optimization, 
#icon-service-leadership-strategy,
#icon-service-team,
#icon-service-digital-transition-secure,
#icon-service-restructuring
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.services_modal img {

    /* width: 60px;
    height: 60px; */

    width: 3.75vw;
    /* height: 6.67vh; */
    aspect-ratio: 1 / 1;


    object-fit: contain; /* maintains img ratio */

    /* padding: 2px; */

    padding-top: 0.222vh;
    padding-right: 0.125vw; 
    padding-bottom: 0.222vh; 
    padding-left: 0.125vw; 

    margin-bottom: 2.22vh;
    
    transition: color 0.8s;

    filter: 
    invert(36%) 
    sepia(98%) 
    saturate(816%) 
    hue-rotate(192deg) 
    brightness(107%) 
    contrast(103%) !important;

}

.services_modal h2 {

    text-align: center;
    margin: 0;

    font-size: 1.375vw;

    color: #3586ff;
}

.services_modal p {

    text-align: left;
    font-size: 1.15vw;
}

.back_card_text_line {

    margin-bottom: 2.22vh;
}

.services-modal-content a {

    display: block;
    text-align: center;

    font-size: 1.15vw;

    text-decoration: underline;
    color: #3586ff;
    font-weight: bold;
}

/** Style for modals close button X */
.modal_services_close {
    color: #aaa;
    position: absolute;

    /* top: 10px; */
    /* right: 25px; */

    top: 1.111vh;
    right: 1.56vw;

    font-size: 2.5vw;

    font-weight: bold;
}

.modal_services_close:hover,
.modal_services_close:focus {
    color: #011254;
    text-decoration: none;
    cursor: pointer;
}


/*? END STYLE SERVICES MODALS*/

/*! PHONE AND TABLET STYLES */

/*todo START responsive phone */

/** Small devices (phones, less than 768px) could be 600px */
@media only screen and (max-width: 600px) {


   
    /** START GENERAL card font-size & img */

    .card {
    
        width: 48vw;
        aspect-ratio: 1 / 1;
    }

    .card img {

        width: 11vw;
        aspect-ratio: 1 / 1; /*repeat*/

        /* font-size: 3.12vw; */

        margin-bottom: 1vh;
        margin-top: 2vh;
        padding: 0;
    }

    #icon-service-project-front, #icon-service-project-back, #icon-service-project-modal {

        width: 9vw;
        aspect-ratio: 1 / 1;
    
    }

    
    .card h2 {

        font-size: 3.8vw; 
    }

    .card p, .card a, .back a {
        font-size: 2.5vw;
    }

    .card p {

        margin-bottom: 0;
    }

    .card a, .back a {

        margin-top: 0;
        margin-bottom: 1vh;
    }

    .services_modal {

        top: 10%;
    }

    .services-modal-content {

        height: 70vh;
    }

    .services_modal img {

        width: 15vw;
        aspect-ratio: 1 / 1; /*repeat*/

    }

    .services_modal h2 {

        font-size: 5vw;
        margin-top: 0;
    }

    .services_modal p, 
    .services_modal a,
    .services-modal-content a {

        font-size: 4.24vw;
        
    }

    .modal_services_close {

        top: 0.5vh;

        font-size: 11vw;

    }

    /** END GENERAL font-size & img */

    
    /*? START style centered grid and animation : rotation only */

    .section_3 { /*partial recall of style.css */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh; /* the grid parent with a defined height */
        padding: 0;
    }

    .container_services {

        grid-template-columns: 1fr;
        /* grid-gap: 10px 25% of ref width ref of 40px */
        gap: 6vw 2vh;
        
        width: 92%; 
        height: fit-content; /*necessary recall*/

        margin-top: 12vh;

        opacity: 1; /* vs ref opacity of 1 */
        transform: none; /*! vs transform: translateY(11.11vh); though still wking */
        animation: none; /*! vs animation: fadeIn 3s forwards; though still wking */
    }

    /*! Desactivate  translation's animations - though still wking */
    .card.is-visible {
        animation: none;
    }

    /** Maintain hover rotation effect */
    .card:hover .card-content {
        transform: rotateY(180deg);
    }

    .rotate-right:hover .card-content {
        transform: rotateY(-180deg);
    }

    .rotate-left:hover .card-content {
        transform: rotateY(180deg);
    }

    .rotate-up:hover .card-content {
        transform: rotateX(-180deg);
    }

    .rotate-down:hover .card-content {
        transform: rotateX(180deg);
    }

    /*? END style centered grid and animation : rotation only */
   
}

/*todo END responsive phone */

/*? START responsive tablet */

/** Medium devices (tablets, less/equal than 1024px) min widht could be 601 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    /*? START GENERAL card font-size & img */

    .card {
        
        width: 30vw;
        aspect-ratio: 1 / 1;

        /* margin-bottom: 20px; */
        /* margin-bottom: 2.222vh; */
    }

    .card img {

        /* width: 45px; 
        height: 45px; */

        width: 7.5vw;
        aspect-ratio: 1 / 1; /*repeat*/


    }

    #icon-service-project-front, #icon-service-project-back, #icon-service-project-modal {

        width: 6vw;
        aspect-ratio: 1 / 1;
    
    }

    .card h2 {

        font-size: 2.2vw;
    }


    .card p, .card a, .back a {

        font-size: 1.6vw; 

    }

    .card p {

        margin-bottom: 0;
    }

    .card a, .back a {

        margin-top: 0;
        margin-bottom: 1vh;
    }

    .services_modal {

        width: 90%; /* vs ref width ref of 100% */
        height: 83%; /* vs ref height ref of 100% */

        top: 10%; /* vs ref top of 5%*/
        left: 5%; /* vs ref left of 0%*/
    }

    .services-modal-content {

        height: 70vh;
    }

    .services_modal img {

        width: 10vw;
        aspect-ratio: 1 / 1; /*repeat*/

    }

    .services_modal h2 {

        font-size: 2.5vw;
        margin-top: 0;
    }

    .services_modal p, 
    .services_modal a,
    .services-modal-content a {

        font-size: 2.12vw;
        
    }

    .modal_services_close {

        top: 0.5vh;

        font-size: 6vw;

    }

    /*? END GENERAL card font-size & img */




    /*todo START style centered grid and animation : rotation only */

    .section_3 { /*partial recall of style.css */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh; /* the grid parent with a defined height */
        padding: 0;
    }

    .container_services {
        
        grid-template-columns: 1fr;
        /* grid-gap: 42px vs ref width ref of 40px */
        gap: 2vw 1vh;
        
        width: 90%; /* recall */
        height: fit-content; /* recall */

        padding-top: 0vh;
        margin-top: 14vh;


        opacity: 1; /* vs ref opacity of 1 */
        transform: none; /*! vs transform: translateY(11.11vh); though still wking */
        animation: none; /*! vs animation: fadeIn 3s forwards; though still wking */
    }

    /*! Desactivate  translation's animations - though still wking */
    .card.is-visible {
        animation: none;
    }

    /** Maintain hover rotation effect */
    .card:hover .card-content {
        transform: rotateY(180deg);
    }

    .rotate-right:hover .card-content {
        transform: rotateY(-180deg);
    }

    .rotate-left:hover .card-content {
        transform: rotateY(180deg);
    }

    .rotate-up:hover .card-content {
        transform: rotateX(-180deg);
    }

    .rotate-down:hover .card-content {
        transform: rotateX(180deg);
    }

    /*todo END style centered grid and animation : rotation only */



}

/*? END responsive tablet */
